<div class="bg-card text-card-foreground rounded-xl border shadow w-full mt-2 md:mt-4 md:ml-4 min-h-lvh" :class="{ 'md:w-3/4': $store.state.localConfig['modern.sidebar'] == show, 'md:mr-4': $store.state.localConfig['modern.sidebar'] === hide }">
    <div class="p-6">
        <div class="flex flex-col md:flex-row md:items-center mb-3">            
            <%-include('./title')%>
            <div class="self-end md:self-auto md:ml-auto">
                <%-include('./contentTool')%>  
            </div>
        </div>   
        <hr class="uk-hr" />
        <div class="mt-3">
            <div id="content-style" class="content-style">
                <div id="content-body" class="content-body" :class="$store.state.currentTheme === 'dark' ? 'theseed-dark-mode' : 'theseed-white-mode'">
                    <%-contentHtml%>
                </div>
            </div>
            <%if(page.viewName === 'license') {%>
                <div class="mt-3">
                    <hr class="uk-hr" />
                    <h2>Modern License</h2>
                    <pre><%=getSkinFile('LICENSE')%></pre>
                </div>
            <%}%>
        </div>
    </div>
</div>