<div id="offcanvas-flip" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar p-4">
        <button
        class="uk-offcanvas-close absolute right-4 top-4"
        type="button"
        data-uk-close
        ></button>
        <h3 class="uk-h3">메뉴</h3>
        <div class="flex flex-col space-y-4 mt-4">
            <ul class="uk-nav uk-nav-default">
                <li class="uk-active"><a href="#">Active</a></li>
                <li class="uk-parent">
                  <a href="#">Parent</a>
                  <ul class="uk-nav-sub">
                    <li><a href="#">Sub item</a></li>
                    <li><a href="#">Sub item</a></li>
                  </ul>
                </li>
                <li class="uk-nav-header">Header</li>
                <li>
                  <a href="#">
                    <uk-icon class="mr-2" icon="table"></uk-icon>
                    Item
                  </a>
                </li>
                <li>
                  <a href="#">
                    <uk-icon class="mr-2" icon="bell"></uk-icon>
                    Item
                  </a>
                </li>
                <li class="uk-nav-divider"></li>
                <li>
                  <a href="#">
                    <uk-icon class="mr-2" icon="trash"></uk-icon>
                    Item
                  </a>
                </li>
              </ul>
        </div>
    </div>
</div>