<div class="bg-card text-card-foreground rounded-xl border shadow w-full md:w-1/4 md:mt-4 md:mr-4">
    <div class="flex flex-col space-y-1.5 p-6 pb-0">
        <div class="font-semibold leading-none tracking-tight flex gap-3 text-xl mb-2">
            <a href="/RecentChanges" class="text-black dark:text-white">최근 변경</a>
        </div>
    </div>
    <div class="p-6">
        <div x-show="$store.state.recent.length === 0">
            <p class="text-2xl">문서를 편집해보세요!</p>
        </div>
        <div x-show="$store.state.recent.length > 0">
            <template x-for="(r,i) in $store.state.recent.slice(0, <%=typeof limit === 'undefined' ? 15 : limit%>)" :key="i">
                <li>
                    <a class="recent-item" :class="{ 'removed': r.status === 'delete' }" :key="r.document" :href="doc_action_link(r.document, 'w')" @click="$store.state.aClickHandler">
                        [<time data-type="keep" :datetime="new Date(r.date * 1000).toISOString()" x-text="getDateStr(r.date * 1000)"></time>] <span x-text="r.document"></span>
                    </a>
                </li>
            </template>
        </div>
    </div>
</div>