<div id="modal-close-default" data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <button
        class="uk-modal-close absolute right-4 top-4"
        type="button"
        data-uk-close
      ></button>
      <h2 class="uk-modal-title">검색</h2>
      <div class="m-2">
        <uk-input-tag name="tags" id="search-input" placeholder="Search..."></uk-input-tag>
        <ul class="uk-list uk-list-divider mt-3">
            <li>검색결과 1</li>
            <li>검색결과 2</li>
            <li>검색결과 3</li>
        </ul>
      </div>
    </div>
</div>